<div class="designer-div">
  <h3>Recycler</h3>

  <mat-form-field class="module-selector">
    <mat-label>Add module</mat-label>
    <mat-select>
      <mat-option *ngFor="let module of recyclerService.displayRecyclerModules"
                  style="color: {{module.getQualityDisplayColor()}}"
                  (click)="recyclerService.selectRecyclerModule(module); qualityCalculatorService.doRecyclerCalculation();">
        {{module.getDisplayName()}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="factory-summary">
    <span style="padding-right: 20px;">
      <mat-label>Quality: </mat-label>
      <mat-label>{{(qualityCalculatorService.calculateRecyclerQuality() * 100) | number: '1.0-2'}}%</mat-label>
    </span>
  </div>
  <div style="width: 40%; border: 1px solid black; flex-grow: 1">
    <mat-list style="overflow: scroll; max-height: 400px; height: 400px; flex-grow: 1" appScrollable>
      <mat-list-item *ngFor="let module of recyclerService.selectedRecyclerModules">
        <p style="color: {{module.getQualityDisplayColor()}}">{{module.getDisplayName()}}</p>
        <button mat-icon-button matListItemMeta
                (click)="recyclerService.deleteRecyclerModule(module); qualityCalculatorService.calculateRecyclerQuality()">
          <mat-icon >delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </div>
</div>
